apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cicd-app
  template:
    metadata:
      labels:
        app: cicd-app
    spec:
      containers:
        - name: app
          image: charanb123/cicd-demo-app:latest
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: cicd-service
spec:
  type: LoadBalancer
  selector:
    app: cicd-app
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001
